<section class="todoapp">
  <header class="header">
    <div class="container">
      <h1>My Day</h1>
      <p>All my tasks in one place</p>
      <input
        class="new-todo"
        placeholder="Type new todo"
        autofocus
        type="text"
      />
    </div>
  </header>
  <div *ngIf="todoArray.length > 0" class="container todoapp-wrapper">
    <!-- This section should be hidden by default and shown when there are todos -->
    <app-lista-todos></app-lista-todos>
    <!-- This footer should be hidden by default and shown when there are todos -->
    <app-footer></app-footer>
  </div>
</section>
