<section class="main">
  <ul class="todo-list">
    <li
      *ngFor="let todo of todos; let i = index"
      [ngClass]="{ completed: !modEdicion, editing: modEdicion }"
    >
      <div class="view">
        <input
          class="toggle"
          type="checkbox"
          [ngModel]="todo.estado === isChecked"
          [name]="todo.id.toString()"
          (change)="onCheckboxChange(i)"
        />
        <label (dblclick)="modoEdicion()">{{ todo.descripcion }}</label>
        <button class="destroy" (click)="eliminarTodo(todo)"></button>
      </div>
      <input [value]="todo.descripcion" class="edit" />
    </li>

    <!-- <li class="completed">
      <div class="view">
        <input class="toggle" type="checkbox" checked />
        <label>Learn JavaScript</label>
        <button class="destroy"></button>
      </div>
      <input class="edit" value="Learn JavaScript" />
    </li>
    -->
    <li>
      <div class="view">
        <input class="toggle" type="checkbox" />
        <label>Buy a unicorn</label>
        <button class="destroy"></button>
      </div>
      <input class="edit" value="Buy a unicorn" />
    </li>
  </ul>
</section>
