<section class="main">
  <ul class="todo-list">
    <li
      *ngFor="let todo of todos; let i = index"
      [class.completed]="todo.estado"
    >
      <div class="view">
        <input
          class="toggle"
          type="checkbox"
          [(ngModel)]="todo.estado !== isChecked"
          [name]="todo.id.toString()"
          (change)="onCheckboxChange()"
        />
        <label>{{ todo.descripcion }}</label>
        <button class="destroy" (click)="eliminarTodo(i)"></button>
      </div>
      <input class="edit" [value]="todo.descripcion" />
    </li>

    <!-- <li class="completed">
      <div class="view">
        <input class="toggle" type="checkbox" checked />
        <label>Learn JavaScript</label>
        <button class="destroy"></button>
      </div>
      <input class="edit" value="Learn JavaScript" />
    </li>
    <li>
      <div class="view">
        <input class="toggle" type="checkbox" />
        <label>Buy a unicorn</label>
        <button class="destroy"></button>
      </div>
      <input class="edit" value="Buy a unicorn" />
    </li>
    <li class="editing">
      <app-editar-todo></app-editar-todo>
    </li> -->
  </ul>
</section>
